<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div class="dropdown">
    
    
   
    <button  class="dropbtn" routerlink="/comicsDeseo/list">WishList</button>
    <div  class="dropdown-content">
        <div *ngFor="let cD of comicsDeseo"><a   href = "#">{{cD.nombre}}</a></div>
        
</div>-->




<table class="table">
    <!-- <thead>-->
    <!-- <tr>-->
    <!--  <th scope="col">#</th>-->
    <!--  <th scope="col"></th>-->
    <!--  <th scope="col"></th>-->
    <!--  <th scope="col"></th>-->
    <!--  <th scope="col"></th>-->
    <!-- </tr>-->
    <!-- </thead>-->
    <tbody>
    <tr *ngFor = "let cD of comicsDeseo">

        <td>
            <div class="row">
                <!-- <div class="col" ><div class="imgCD" [routerLink] ="['/comicsdeseo', { outlets: { 'detail': [cD.id] } }]"><img src= {{cD.ruta}} height=180px; width=120px /></div></div>-->
                <div class="col" ><div class="imgCD"><img src= {{cD.ruta}} height=180px; width=120px /></div></div>
                <div class="col-10" ><h2><a class="figure-caption" [routerLink] ="['/comicsdeseo', { outlets: { 'detail': [cD.id] } }]" >{{cD.nombre}}</a></h2><br><p>{{cD.descripcion}}</p>
                    <br>
                    <div class="row">
                        <div class="col"><b>COP {{cD.precio}}</b></div>
                        <div class="col-1"><button type="button" class="btn btn-success" >Comprar</button></div>

                        <div class="col-2"><button type="button" class="btn btn-danger">Quitar</button></div>
                        <div class="col-11"></div>

                    </div>

                </div>

            </div>
        </td>



    </tr>

    </tbody>
</table>
  


  
