
<   <div class="container-fluid">
        <h5 class="text-center">Agregar un comic para trueque</h5>
        <br>
        <select v-model="selected" class="form-control " id="myselect" >
                <option type="button" *ngFor="let comic of comics" value="comic.id"   >{{comic.nombre}}</option>
              </select>
           
    </div>
  
    <br>
    <br>
  
    <div class="text-center">
        <p><strong>{{ selected }}</strong></p>
        <button type="button" class="btn-primary" >Añadir</button>
       
    </div> 


    <h2>elija el comic para el trueque</h2>
    <select >
            <option >ACEPTADO</option> 
            <option >RECHAZADO</option>
            <option >EN_ESPERA</option>
         </select>

