<div class="container-fluid">
    <div class="row profile" style="text-align: center;">
        <div class="">
            <div class="profile-sidebar">
                <div class="profile-user-pic">
                    <img src="{{compradorDetail.foto}}" alt="" class="img-responsive img-circle">
                </div>
                <hr>
                <div class="profile-user-title">
                    <div class="profile-user-name">
                        {{compradorDetail.nombre}}
                    </div>
                    <div class="profile-user-email">
                        {{compradorDetail.correoElectronico}}
                    </div>
                    <div class="profile-user-int">
                        {{compradorDetail.intereses}}
                    </div>
                </div>
                <div class="profile-user-buttons">
                    <button class="btn btn-outline-dark btn-sm" routerLink="/comprador/{{compradorDetail.id}}/edit">
                        Editar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>