<h1 style="text-align: center;">Formulario de creación de coleccionista</h1>
<div class="conten-fluid">
    <div class="row">
        <div class="mx-auto">
            <form>
                <div class="form-group" style="text-align: center;">
                    <div class="row">
                        <div class="col">
                            <label for="">Primer Nombre</label>
                            <input type="text" class="form-control" placeholder="Primer Nombre" size="100px">
                        </div>
                        <div class="col">
                            <label for="">Apellido</label>
                            <input type="text" class="form-control" placeholder="Apellido">
                        </div>
                    </div>
                </div>
                <div class="form-group" style="text-align: center;">
                    <label for="">Alias</label>
                    <input type="text" placeholder="Alias" class="form-control">
                </div>
                <div class="form group" style="text-align: center; position: relative;">
                    <label for="">Intereses</label>
                    <textarea name="" id="" cols="10" rows="5" class="form-control" placeholder="Intereses"></textarea>
                </div>
                <div class="form-group" style="text-align: center;">
                    <label for="exampleInputEmail1">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputemail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group" style="text-align: center;">
                    <label for="" >Contraseña</label>
                    <input type="password" class="form-control" placeholder="Enter Password">
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline1">
                    <label class="custom-control-label" for="defaultInline1">Comprador</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="defaultInline2">
                    <label class="custom-control-label" for="defaultInline2">Vendedor</label>
                  </div>
                <div class="form-group" style="text-align: center;">
                    <label for="">Subir foto</label>
                    <input type="file" class="form-control-file" style="text-align: center;">
                </div>
                <div class="form-group" style="text-align:center;" id="botonEnviar">
                    <button type="button" class="btn btn-dark" (click) ="getConsole()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>