.center{
    text-align: center;
}

hr
{
    background-color: rgba(255, 255, 255, 0.12);
}

.box
{
    display: inline-block;
    transform: translate(-50%, 5%);
    width: 60%;
    z-index: 30;
    position: absolute;
}

.box textarea
{
    resize: none;
}

.box textarea, input[type=text], input[type=password], input[type=email] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 90%;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}

*
{
    font-weight: 400;
    color: white;
}

button:hover {
    text-shadow: 2px 2px 0px rgba(0,0,0,.3)
}

.box textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus
{
    width: 100%;
    border-color: #2ecc71;
}

.titulo, label
{
    transition: text-shadow .3s ease-in-out;
}

.titulo:hover, label:hover
{
    text-shadow: 0 -3px 4px yellow, 0 -6px 12px #e25822, 0 -10px 15px red;
}

form
{
    color: black;
}

img {
    margin: 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    /*background-color: whitesmoke;*/
    /*box-shadow: 0 0 16px rgba(0, 68, 255, 0.5);*/
    border-radius: 10%;
    background: none;
    border: 2px solid #3498db;
}

img:hover {
    transform: scale(1.2);
}

#inlineRadio0,  #inlineRadio1, #inlineRadio2, #inlineRadio3, #inlineRadio4,
#inlineRadio5,  #inlineRadio6, #inlineRadio7, #inlineRadio8, #inlineRadio9,
#inlineRadio10,  #inlineRadio11, #inlineRadio12, #inlineRadio13, #inlineRadio14,
#inlineRadio15,  #inlineRadio16, #inlineRadio17, #inlineRadio18, #inlineRadio19,
#inlineRadio20,  #inlineRadio21, #inlineRadio22, #inlineRadio23, #inlineRadio24{
    display: none;
}

#inlineRadio0:checked + label > img , #inlineRadio1:checked + label > img, #inlineRadio2:checked + label > img, #inlineRadio3:checked + label > img, #inlineRadio4:checked + label > img,
#inlineRadio5:checked + label > img , #inlineRadio6:checked + label > img, #inlineRadio7:checked + label > img, #inlineRadio8:checked + label > img, #inlineRadio9:checked + label > img,
#inlineRadio10:checked + label > img , #inlineRadio11:checked + label > img, #inlineRadio12:checked + label > img, #inlineRadio13:checked + label > img, #inlineRadio14:checked + label > img,
#inlineRadio15:checked + label > img , #inlineRadio16:checked + label > img, #inlineRadio17:checked + label > img, #inlineRadio18:checked + label > img, #inlineRadio19:checked + label > img,
#inlineRadio20:checked + label > img , #inlineRadio21:checked + label > img, #inlineRadio22:checked + label > img, #inlineRadio23:checked + label > img, #inlineRadio24:checked + label > img{
    background-color: rgb(52, 152, 219);
}

.box button[type = "submit"]
{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}

.box button[type = "cancel"]
{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #c0392b;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25s;
}

.box button[type = "submit"]:hover
{
    background: #2ecc71;
}

.box button[type = "cancel"]:hover
{
    background: #c0392b;
}

/*#inlineRadio5,  #inlineRadio6, #inlineRadio7, #inlineRadio8, #inlineRadio9{*/
/*    display: none;*/
/*}*/

/*#inlineRadio5:checked + label > img , #inlineRadio6:checked + label > img, #inlineRadio7:checked + label > img, #inlineRadio8:checked + label > img, #inlineRadio9:checked + label > img{*/
/*    background-color: white;*/
/*}*/

/*#inlineRadio10,  #inlineRadio11, #inlineRadio12, #inlineRadio13, #inlineRadio14{*/
/*    display: none;*/
/*}*/

/*#inlineRadio10:checked + label > img , #inlineRadio11:checked + label > img, #inlineRadio12:checked + label > img, #inlineRadio13:checked + label > img, #inlineRadio14:checked + label > img{*/
/*    background-color: white;*/
/*}*/

/*#inlineRadio15,  #inlineRadio16, #inlineRadio17, #inlineRadio18, #inlineRadio19{*/
/*    display: none;*/
/*}*/

/*#inlineRadio15:checked + label > img , #inlineRadio16:checked + label > img, #inlineRadio17:checked + label > img, #inlineRadio18:checked + label > img, #inlineRadio19:checked + label > img{*/
/*    background-color: white;*/
/*}*/

/*#inlineRadio20,  #inlineRadio21, #inlineRadio22, #inlineRadio23, #inlineRadio24{*/
/*    display: none;*/
/*}*/

/*#inlineRadio20:checked + label > img , #inlineRadio21:checked + label > img, #inlineRadio22:checked + label > img, #inlineRadio23:checked + label > img, #inlineRadio24:checked + label > img{*/
/*    background-color: white;*/
/*}*/