<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<div class="center">
    <form class="box" [formGroup]="registrationForm" (ngSubmit)="onRegistrationFormSubmit()" novalidate>
        <h1 class="titulo" style="text-align: center; color: white;">Formulario de creación de coleccionista</h1>
        <hr>
        <div class="form-group">
            <!--                    <div class="col-3"></div>-->
            <label for="" style="font-weight: 400; font-size: 20px;" >Nombre Completo</label>
            <hr>
            <input type="text" class="form-control" placeholder="Nombre Completo" size="100px"
                   formControlName="nombre">
            <div
                    *ngIf="(registrationForm.get('nombre').errors  && isSubmitted) || (registrationForm.get('nombre').errors && registrationForm.get('nombre').touched)">
                <div *ngIf="registrationForm.get('nombre').hasError('required')">
                    <span style="color: red; ">Por favor llene el campo</span>
                </div>
                <div *ngIf="registrationForm.get('nombre').hasError('minlength')">
                                    <span style="color:red;">Por favor ingrese un nombre con al menos 3
                                        caracteres</span>
                </div>
                <div *ngIf="registrationForm.get('nombre').hasError('maxlength')">
                    <span style="color:red;">Por favor ingrese un nombre con máximo 30 caracteres</span>
                </div>
                <div *ngIf="registrationForm.get('nombre').hasError('pattern')">
                    <span style="color:red;">Ingrese un nombre válido</span>
                </div>
            </div>
        </div>
        <div class="form-group" style="text-align: center;">
            <!--                    <div class="col-3"></div>-->
            <label for="" >Alias</label>
            <hr>
            <input type="text" placeholder="Alias" class="form-control" formControlName="alias">
            <div
                    *ngIf="(registrationForm.get('alias').errors && isSubmitted) ||(registrationForm.get('alias').errors && registrationForm.get('alias').touched)">
                <div *ngIf="registrationForm.get('alias').hasError('required')">
                    <span style="color:red;">Por favor llene este campo</span>
                </div>
                <div *ngIf="registrationForm.get('alias').hasError('minlength')">
                    <span style="color:red;">Por favor ingrese un alias con al menos 5 caracteres</span>
                </div>
                <div *ngIf="registrationForm.get('alias').hasError('maxlength')">
                    <span style="color:red;">Por favor ingrese un alias con máximo 30 caracteres</span>
                </div>
            </div>
        </div>
        <div class="form group">
            <!--                    <div class="col-3"></div>-->
            <label for="">Intereses</label>
            <hr>
            <textarea name="" id="" cols="10" rows="5" class="form-control" placeholder="Intereses"
                      formControlName="intereses"></textarea>
        </div>
        <br>
        <div class="form-group" style="text-align: center;">
            <!--                    <div class="col-3"></div>-->
            <label for="exampleInputEmail1">Email Address</label>
            <hr>
            <input type="email" class="form-control" id="exampleInputemail1"
                   aria-describedby="emailHelp" placeholder="Enter email"
                   formControlName="correoElectronico">
            <div
                    *ngIf="(registrationForm.get('correoElectronico').errors && isSubmitted) || (registrationForm.get('correoElectronico').errors && registrationForm.get('correoElectronico').touched)">
                <div *ngIf="registrationForm.get('correoElectronico').hasError('pattern')">
                    <span style="color:red;">Ingrese un email válido</span>
                </div>
                <div *ngIf="registrationForm.get('correoElectronico').hasError('required')">
                    <span style="color:red;">Por favor llene el campo</span>
                </div>
            </div>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>
        <div class="form-group" >
            <!--                    <div class="col-3"></div>-->
            <label for="">Contraseña</label>
            <hr>
            <input type="password" class="form-control" placeholder="Enter Password"
                   formControlName="password">
            <div
                    *ngIf="(registrationForm.get('password').errors && isSubmitted) || (registrationForm.get('password').errors && registrationForm.get('password').touched)">
                <div *ngIf="registrationForm.get('password').hasError('pattern')">
                    <span style="color:red;">Ingrese una contraseña válida</span>
                    <br>
                    <span style="color:rgb(102, 102, 102);">Entre 4 y 10 caracteres, debe tener al menos
                                        un
                                        número y una mayúscula</span>
                </div>
                <div *ngIf="registrationForm.get('password').hasError('required')">
                    <span style="color:red;">Por favor llene el campo</span>
                </div>
            </div>
        </div>
        <div class="form-group" style="text-align: center;" [formGroup]="checkboxGroup">
            <label for="">Rol de usuario</label>
            <br>
            <div class="custom-control custom-checkbox custom-control-inline"
                 *ngFor="let control of valuesArray.controls; let i= index;">
                <input type="checkbox" class="custom-control-input" id="defaultInline{{i}}"
                       [formControl]="control" (change)="getSelectedRoleValue()">
                <label class="custom-control-label" for="defaultInline{{i}}" style="font-weight: 400; font-size: 20px;">{{values[i]}}</label>
            </div>
            <div *ngIf="(valuesError && isSubmitted) || (valuesError && checkValuesChecked())">
                <span style="color:red;">Seleccione al menos una opcion</span>
            </div>
        </div>
        <br>
        <div class="form-check form-check-inline" style="text-align: center;">
            <!--                    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>-->
            <!--                    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">-->
            <div class="">
                <label for="">Escoger foto</label>
                <hr>
                <div fxLayout="row" fxLayoutGap="20px">
                    <ng-container *ngFor="let i of [0,1,2,3,4];" style="margin: 0; font-size: 0;">
                        <input type="radio" class="form-check-input" id="inlineRadio{{i}}" name="inlineRadioOptions">
                        <label for="inlineRadio{{i}}">
                            <img class="card img-fluid" src="{{imagenes[i]}}" alt="Responsive image img-circle"
                                 (click)="funcion(imagenes[i])" style="width: 70%;">
                        </label>
                    </ng-container>
                </div>

                <div fxLayout="row" fxLayoutGap="20px">
                    <ng-container *ngFor="let i of [5, 6, 7, 8, 9];">
                        <input type="radio" class="form-check-input" id="inlineRadio{{i}}" name="inlineRadioOptions">
                        <label for="inlineRadio{{i}}">
                            <img class="card img-fluid" src="{{imagenes[i]}}" alt="Responsive image"
                                 (click)="funcion(imagenes[i])" style="width: 70%;">
                        </label>
                    </ng-container>
                </div>

                <div fxLayout="row" fxLayoutGap="20px">
                    <ng-container *ngFor="let i of [10, 11, 12, 13, 14];">
                        <input type="radio" class="form-check-input" id="inlineRadio{{i}}" name="inlineRadioOptions">
                        <label for="inlineRadio{{i}}">
                            <img class="card img-fluid" src="{{imagenes[i]}}" alt="Responsive image"
                                 (click)="funcion(imagenes[i])" style="width: 70%;">
                        </label>
                    </ng-container>
                </div>

                <div fxLayout="row" fxLayoutGap="20px">
                    <ng-container *ngFor="let i of [15, 16, 17, 18, 19];">
                        <input type="radio" class="form-check-input" id="inlineRadio{{i}}" name="inlineRadioOptions">
                        <label for="inlineRadio{{i}}">
                            <img class="card img-fluid" src="{{imagenes[i]}}" alt="Responsive image"
                                 (click)="funcion(imagenes[i])" style="width: 70%;">
                        </label>
                    </ng-container>
                </div>

                <div fxLayout="row" fxLayoutGap="20px">
                    <ng-container *ngFor="let i of [20, 21, 22, 23, 24];">
                        <input type="radio" class="form-check-input" id="inlineRadio{{i}}" name="inlineRadioOptions">
                        <label for="inlineRadio{{i}}">
                            <img class="card img-fluid" src="{{imagenes[i]}}" alt="Responsive image"
                                 (click)="funcion(imagenes[i])" style="width: 70%;">
                        </label>
                    </ng-container>
                </div>
            </div>
            <!--                    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1"></div>-->
        </div>

        <div class="form-group">
            <!--                    <div class="col-4"></div>-->
            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn green"
                            (click)="onRegistrationFormSubmit()">Enviar</button>
                </div>
                <div class="col-6"></div>
                <div class="col-3">
                    <button type="cancel" class="btn red" routerLink="/home">Cancelar</button>
                </div>
            </div>
            <!--                    <div class="col-4"></div>-->
        </div>
    </form>
</div>