<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                  <style>
                  .checked {
                  color: orange;
                      }
                  </style>
  
<table class="table table">
  <thead class="thead thead-dark">
  <th>Calificaciones</th>
  </thead>
  <tbody>
    
      <table class="table table-sm" *ngFor="let calificacion of vendedorCalificaciones">
 
      
  <tbody>
      <tr >
        {{  add(calificacion.puntuacion)}}
          <td><span id="vendedor-calificacado"><b>Puntuacion: </b></span>
            
                  
              <a *ngFor="let item of setStar(calificacion.puntuacion); let i=index "   >  
               <i class="fa" [ngClass]="{'fa-star-o  ':item,'fa-star checked':!item  }" ></i>   
                              </a>  </td>
           
      </tr>
      <tr>
          <td><span id="vendedor-calificado"><b >Comentarios: </b></span><span id="calificacion-comentario" >{{calificacion.comentarios}}</span></td>
         
      </tr>
   
  </tbody>
  
  <div class="row" class="text-right" style="font-size: 12px">
    
      <dd  class="figure-caption "(click)=" calificacionEditComponent.isCollapsed = !calificacionEditComponent.isCollapsed;calificacionEditComponent.calificacion.id=calificacion.id" *ngxPermissionsOnly="['Comprador','Administrador']">Editar </dd>
      <dd class="col-md-1" class="figure-caption "(click)="deleteCalificacion(calificacion.id); "*ngxPermissionsOnly="['Comprador','Administrador']">Eliminar </dd>
  
    </div>
  

    <table class="table table">
        <thead class="thead thead-dark">
        <th>Calificaciones</th>
        </thead>
        <tbody>

        <table class="table table-sm" *ngFor="let calificacion of vendedorCalificaciones">
            <tbody>
            <tr >
                {{  add(calificacion.puntuacion)}}
                <td><span id="vendedor-calificacado"><b>Puntuacion: </b></span>
                    <a *ngFor="let item of setStar(calificacion.puntuacion); let i=index "   >
                        <i class="fa" [ngClass]="{'fa-star-o  ':item,'fa-star checked':!item  }" ></i>
                    </a>  </td>
            </tr>
            <tr>
                <td><span id="vendedor-calificado"><b >Comentarios: </b></span><span id="calificacion-comentario" >{{calificacion.comentarios}}</span></td>

            </tr>
            </tbody>

            <div class="row" class="text-right" style="font-size: 12px">

                <dd  class="figure-caption "(click)=" calificacionEditComponent.isCollapsed = !calificacionEditComponent.isCollapsed;calificacionEditComponent.calificacion.id=calificacion.id">Editar </dd>
                <dd class="col-md-1" class="figure-caption "(click)="deleteCalificacion(calificacion.id); ">Eliminar </dd>

            </div>

        </table>

        </tbody>
    </table>
    <app-vendedor-edit-calificacion></app-vendedor-edit-calificacion>

    <html>
    <head>
        <!-- Font Awesome Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .checked {
                color: orange;
            }
        </style>
    </head>

    </html>
</div>