<div class="container-fluid">
  <div class="col-md-2">
      <table class="table table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>OrdenPedido Name</th> 
                  <th>OrdenPedido id</th>
              </tr>
              
          </thead>
          <tbody>
              <tr *ngFor = "let ordenPedido of ordenesPedido">
                  <td>{{ordenPedido.nombre}}</td>
                  <td>{{ordenPedido.id}}</td>
              </tr>
          </tbody>
          
      </table>
  </div>
