

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" routerLink="/home">
            <div class="form-inline">
                    
                <h2 class="mainTitle">Comics Melos</h2>
                
               
               
            </div>
         
         </a>
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto mt-0">
                <li class="nav-item" routerLink="/vendedores/list"
                    *ngxPermissionsOnly="['ADMIN']">
                    <button class="btn btn-light">
                        Vendedores
                    </button>
                </li>
                <li class="nav-item" routerLink="/comprador/list" style="text-align:center; margin-left: 10px;"
                    *ngxPermissionsOnly="['ADMIN']">
                    <button class="btn btn-light">Compradores</button>
                </li>
                <li class="nav-item" routerLink="/comic/list" style="text-align:right; margin-left: 10px;">
                    <button class="btn btn-danger" >Comics</button>
                </li>
                <li  class="nav-item" routerLink="/comicsdeseo/list" style="text-align:center; margin-left: 10px;"
                     *ngxPermissionsOnly="['Comprador', 'ADMIN']">
                    <button class="btn btn-light">WishList</button>
                </li>
                <li class="nav-item" routerLink="orden/list" style="text-align:center; margin-left: 10px;"
                    *ngxPermissionsOnly="['Vendedor', 'Comprador', 'ADMIN']">
                    <button class="btn btn-light">Ordenes</button>
                </li>
                <div style="text-align: right;">
                    <div class="btn-group" routerLink="/login"
                         *ngxPermissionsOnly="['GUEST']">
                        <!-- Colocar esto en el <a href="/login"></a>-->
                        <button type="button" class="btn btn-light">Log In</button>
                    </div>

                    <div class="btn-group" routerLink="/form" style="text-align:center; margin-left: 20px;"
                         *ngxPermissionsOnly="['GUEST']">
                        <button class="btn btn-outline-dark">Sign Up</button>
                    </div>
                </div>

                <div class="navbar-nav ml-auto flex-column">
                    <div class="flex-row" *ngxPermissionsOnly="['GUEST']">
                        <div class="form-inline">

                        </div>
                    </div>
                    <div class="flex-row" *ngxPermissionsOnly="['Vendedor', 'Comprador', 'ADMIN']">
                        <div class="form-inline">
                            <li><a id="logout-navbar-item" (click)="logout()" href="#">
                                <button type="button" class="btn btn-danger">
                                    Cerrar Sesión
                                    <i class="fa fa-sign-out"></i></button></a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>
<router-outlet></router-outlet>