<link href="//cloud.typenetwork.com/projects/2153/fontface.css/" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

        <div class="topB">
                <a routerLink="/home">
           
                    
                    <div class="marvel">COMICS</div>
                   
             
             </a>

            
        </div>
        <hr > 
        
         <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  style="display:flex; justify-content: space-around; flex-direction: row;" class="collapse navbar-collapse" id="navbarSupportedContent">
            <div  class="navbar-nav">
                <li class="nav-item" routerLink="/vendedores/list"  
                    *ngxPermissionsOnly="['ADMIN']">
                    <button  class="btn btn-link">
                      <b>Vendedores</b>
                    </button>
                </li>
                <li class="nav-item" routerLink="/comprador/list" 
                    *ngxPermissionsOnly="['ADMIN']">
                    <button class="btn btn-link" ><b>Compradores</b></button>
                </li>
                <li class="nav-item" routerLink="/comic/list" >
                    <button  class="btn btn-link" ><b>Comics</b></button>
                </li>
                <li  class="nav-item" routerLink="/comicsdeseo/list"
                     *ngxPermissionsOnly="['Comprador', 'ADMIN']">
                    <button  class="btn btn-link"><b>WishList</b></button>
                </li>
                <li class="nav-item" routerLink="orden/list/{{rol}}"
                    *ngxPermissionsOnly="['Vendedor', 'Comprador', 'ADMIN']">
                    <button class="btn btn-link"><b>Ordenes</b></button>
                </li>
                <div style="text-align: right;">
                    <div class="btn-group" routerLink="/login"
                         *ngxPermissionsOnly="['GUEST']">
                        <!-- Colocar esto en el <a href="/login"></a>-->
                        <button  type="button" class=" btn btn-link">Log In</button>
                    </div>

                    <div class="btn-group" routerLink="/form" 
                         *ngxPermissionsOnly="['GUEST']">
                        <button   class="btn btn-link">Sign Up</button>
                    </div>
                </div>

                <div class="navbar-nav ml-auto flex-column">
                    <div class="flex-row" *ngxPermissionsOnly="['GUEST']">
                        <div class="form-inline">

                        </div>
                    </div>
                    <div class="flex-row" *ngxPermissionsOnly="['Vendedor', 'Comprador', 'ADMIN']">
                        <div class="form-inline">
                            <li><a id="logout-navbar-item" (click)="logout()" href="#">
                                <button type="button" class="btn btn-link" style="margin-left:10px">
                                    Cerrar Sesión
                                    <i class="fa fa-sign-out"></i></button></a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>
<router-outlet></router-outlet>