.bentonsansextracompressedblack {
    font-family: "Benton Sans Ex Comp Bla";
    font-style: Normal;
    font-weight: Normal;
}

.marvel{

    font-family: "Benton Sans Ex Comp Bla", sans-serif;
    text-align: center;
    color: white;
    font-size: 2em;


}

hr{

    margin-top: 0.5px;
    margin-bottom: 0.5px;
    border-top: 0px solid white;
    height: 0px;
}


.mainTitle{

    color: white;
    height: 52px;
    text-align: center;
    float: center;
}
.btn-link{

    color:white;
}
.topB{
    background-color: #27282b;
}
.container-fluid {
    /* The image used */
    /*background-image: url("../assets/bannerHome.jpg");*/
    background-color:#27282b;

    min-height: 40px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */

}



/* Position the navbar container inside the image */
.container {

}

.navbar-nav{

    float: right;
    text-align: right;
    left:0;
    right: 0;
}

.navbar-nav li {

    text-align: center;
}
.nav-item{

    text-decoration: none;
}