
<div class="content-fluid">
    <div class="row">
        <div class="card text-center box" style="width: 18rem; "
             *ngFor="let vendedor of vendedores">
            <img class="card-img-top" src="{{vendedor.foto}}" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">{{vendedor.nombre}}</h2>
                <p class="card-text">{{vendedor.intereses}}</p>
            </div>
           
            <div class="card-body cartaCuerpo" routerLink="/vendedores/{{vendedor.id}}">
                <a routerLink="/vendedores/{{vendedor.id}}" class="card-link">Ver más...</a>
            </div>
        </div>
    </div>
</div>
   