
	<div class="content-fluid">
            <div class="row">
            <div routerLink="/vendedores/{{vendedor.id}}" class="card cartaCuerpo" style="width: 18rem; margin-left: 30px;margin-top: 30px; border-radius: 20px;" *ngFor="let vendedor of vendedores"  >

  <img class="card-img-top" src="{{vendedor.foto}}" alt="Card image cap">
  <div class="card-body ">
    <h5 class="card-title">{{vendedor.nombre}}</h5>
    <p class="card-text">{{vendedor.intereses}}</p>
    
  </div>
            </div>
</div>
	
    </div>
   