table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 2px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 16px;
}
table.blueTable tr:nth-child(even) {
    background: #DBF5F2;
}
table.blueTable thead {
    background: #1180A4;
    background: -moz-linear-gradient(top, #4ca0bb 0%, #288cad 66%, #1180A4 100%);
    background: -webkit-linear-gradient(top, #4ca0bb 0%, #288cad 66%, #1180A4 100%);
    background: linear-gradient(to bottom, #4ca0bb 0%, #288cad 66%, #1180A4 100%);
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 1px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}
 
  
  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #5cb2da;
    border-radius: 6px;
    border: 1px solid #eeeef1;
  }
  .boton_personalizado:hover{
    color: #000608;
    background-color: #ffffff;
    border: 1px solid #00000a;

  }

