<div class="container-fluid">
 
        <div class="row">

      <div class="col-4" > 
            <h1 class="my-4">Filtrar Ordenes</h1>
           
            <div class="list-group">
              <h3 class="filter-title mt-2">Filtrar por estado</h3>
              <ng-container *ngFor="let cat of estados; let i=index">
                <button type="button" *ngIf="categoriasElegidas[i]"  (click)="getOrdenesPedidoEstado(cat)" class="list-group-item catBut active">{{cat}}</button>
              </ng-container>
            </div>
            
            <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">obtener Ordenes Comprador</th>
                            <th scope="col">alias comprador</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr >
                        <td> 
                                <button type="submit" class="btn btn-danger" (click)="getOrdenesPedidoComprador()" >obtener</button>
                        </td>
                        <td scope="row">
                            <input type="text" [(ngModel)]="aliasComprador">
                        </td>
                        <td scope="row">
                               {{idComprador}}
                            </td>
                        </tr>
                </table> 

                             <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">obtener Ordenes vendedor</th>
                                        <th scope="col">alias vendedor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tr >
                                    <td> 
                                            <button type="submit" class="btn btn-danger" (click)="getOrdenesPedidoVendedor()" >obtener</button>
                                    </td>
                                    <td scope="row">
                                        <input type="text" [(ngModel)]="aliasVendedor">
                                    </td>
                                    <td scope="row">
                                           {{idVendedor}}
                                        </td>
                                    </tr>
                            </table> 
                           
                            
                            <div class="list-group">
                                    <h3 class="filter-title mt-2">Filtrar por tipo de orden</h3>
                                    <ng-container >
                                      <button type="button"  class="list-group-item catBut active" (click)="getOrdenesPedidoEstado('VENTA')">Compra</button>
                                      <button type="button" class="list-group-item catBut active" (click)="getOrdenesPedidoEstado('TRUEQUE')">Trueque</button>
                                      
                                    </ng-container>
                                  </div>
      </div>
      
    <div class="col-8" > <table  class="table table-hover" style="border-collapse: collapse;"  width="1000">
        <thead class="thead-dark">
            <tr>
                <th>OrdenPedido id</th>
                <th> estado</th>
                <th> comprador</th>
                <th> vendedor</th>
                <th> comic</th>
                <th> trueque / venta</th>
                <th> tarjetaCredito</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let ordenPedido of ordenesPedido">
              <td style="cursor: pointer;">
                <a class="figure-caption" routerLink='/orden/{{ordenPedido.id}}/{{rol}}' >{{ordenPedido.id}}</a></td>
                <td>{{ordenPedido.estado}}</td>
                <td>{{ordenPedido.comprador.alias}}</td>
                <td>{{ordenPedido.vendedor.alias}}</td>
                <td>{{ordenPedido.comic.nombre}}</td>
                <td *ngIf="!ordenPedido.comic.enVenta">trueque</td>
                <td *ngIf="ordenPedido.comic.enVenta">venta</td>
                <td>{{ordenPedido.tarjetaCredito}}</td>
                <td >{{ordenPedido.fechaEstimadaEntrega}}</td>
             </tr>
        </tbody>
        
    </table>
  </div> 
    </div>
    </div>
    <router-outlet></router-outlet> 
    
    