    <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div id="collapseAddCalificacion" [ngbCollapse]="isCollapsed">
    <div class="container-fluid">
        <h3>Agregar una calificacion</h3>
        <form name="post" (ngSubmit)="calificacionForm.form.valid && postCalificacion(calificacionForm)" #calificacionForm="ngForm" novalidate>
              <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="calificacionPuntuacion"><b>Puntuacion</b></label>
                       <br>  
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <style>
                    .checked {
                    color: orange;
                        }
                    </style>
                    <a *ngFor="let item of starList; let i=index " (click)="setStar(i)" >  
                 <i class="fa" [ngClass]="{'fa-star-o  ':item,'fa-star checked':!item  }" ></i>   
                                </a>  
                            <br>  
                            <div >
                            Rating : {{calificacion.puntuacion}} estrellas  
                            </div>
                               <div class="invalid-feedback">
                            <div>Falta la puntuacion</div>
                        </div>
                    </div>
                </div>
            
                <div class="col">
                    <div class="form-group">
                        <label for="calificacionComentarios"><b>Comentarios</b></label>
                        <textarea name="calificacionComentarios" class="form-control" id="calificacionComentarios" [(ngModel)]="calificacion.comentarios"
                                  #calificacionComentarios="ngModel" [ngClass]="{ 'is-invalid': calificacionForm.submitted && calificacionComentarios.invalid }"
                                  ></textarea>
                        
                    </div>
                </div>
                  
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary"  >Confirmar calificacion</button>
            </div>
        </form>
    </div>
</div>

