<form class="px-4 py-3" [formGroup]="logInForm">
    <div class="form-group">
        <label for="exampleDropdownFormEmail1">Alias</label>
        <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="jonDoe1"
            formControlName="alias">
        <div *ngIf="(logInForm.get('alias').errors && isSubmitted) ||
            (logInForm.get('alias').errors && logInForm.get('alias').touched)">
            <div *ngIf="logInForm.get('alias').hasError('required')">
                <span style="color:red;">Por favor llene este campo</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleDropdownFormPassword1">Password</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password"
            formControlName="password">
        <div *ngIf="(logInForm.get('password').errors && isSubmitted) ||
            (logInForm.get('password').errors && logInForm.get('password').touched)">
            <div *ngIf="logInForm.get('password').hasError('required')">
                <span style="color:red;">Por favor llene el campo</span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-danger" (click)="onLogIngSubmit()">Sign in</button>
</form>
<div class="dropdown-divider"></div>
<a class="dropdown-item" routerLink="/form">New around here? Sign up</a>
<a class="dropdown-item" href="#">Forgot password?</a>