<!--<form class="px-4 py-3" [formGroup]="logInForm">-->
<!--    <div class="form-group">-->
<!--        <label for="">Alias</label>-->
<!--        <input type="text" class="form-control" id="" placeholder="jonDoe1"-->
<!--               formControlName="alias">-->
<!--        <div *ngIf="(logInForm.get('alias').errors && isSubmitted) ||-->
<!--            (logInForm.get('alias').errors && logInForm.get('alias').touched)">-->
<!--            <div *ngIf="logInForm.get('alias').hasError('required')">-->
<!--                <span style="color:red;">Por favor llene este campo</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="">Password</label>-->
<!--        <input type="password" class="form-control" placeholder="Password"-->
<!--               formControlName="password">-->
<!--        <div *ngIf="(logInForm.get('password').errors && isSubmitted) ||-->
<!--            (logInForm.get('password').errors && logInForm.get('password').touched)">-->
<!--            <div *ngIf="logInForm.get('password').hasError('required')">-->
<!--                <span style="color:red;">Por favor llene el campo</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="">-->
<!--            Role-->
<!--        </label>-->
<!--        <select name="" class="custom-select form-control" id="inputGroupSelect01">-->
<!--            <option selected>Choose...</option>-->
<!--            <option value="1">One</option>-->
<!--            <option value="2">Two</option>-->
<!--            <option value="3">Three</option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-danger" (click)="onLogIngSubmit()">Sign in</button>-->
<!--</form>-->
<!--<div class="dropdown-divider"></div>-->
<!--<a class="dropdown-item" routerLink="/form">New around here? Sign up</a>-->
<!--<a class="dropdown-item" href="#">Forgot password?</a>-->
<div id="background" class="layer-0">
</div>

<div class="alert">
    <i class="fa fa-times"></i>
    <h1>Completa los campos requeridos</h1>
    <button (click)="pop()" type="submit">Ok</button>
</div>

<div class="center">
    <div id="planet-2" class="planet layer-2"></div>
    <div id="planet-1" class="planet layer-1"></div>

    <form class="box" [formGroup]="logInForm">
        <h1 class="">Log In</h1>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Alias"
                   formControlName="alias">
            <div *ngIf="(logInForm.get('alias').errors && isSubmitted) ||
            (logInForm.get('alias').errors && logInForm.get('alias').touched)">
                <div *ngIf="logInForm.get('alias').hasError('required')">
                    <span style="color:red; transition: 0.25s ease-in-out;">Por favor llene este campo</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password"
                   formControlName="password">
            <div *ngIf="(logInForm.get('password').errors && isSubmitted) ||
            (logInForm.get('password').errors && logInForm.get('password').touched)">
                <div *ngIf="logInForm.get('password').hasError('required')">
                    <span style="color:red;">Por favor llene el campo</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputGroup">
                Rol de usuario
            </label>
            <select required formControlName = "role" class="custom-select form-control" id="inputGroup">
                <option [ngValue]="null" selected>Choose your side...</option>
                <option *ngFor="let item of roles" [value]="item">{{item}}</option>
            </select>
            <div *ngIf="logInForm.get('role').errors && logInForm.get('role').touched">
                <div *ngIf="logInForm.get('role').hasError('required')">
                    <span style="color:red;">Por favor escoja un rol</span>
                </div>
            </div>
        </div>

        <button type="submit" class="" (click)="onLogInSubmit()">Sign in</button>
        <hr>
        <a class="" routerLink="/form">Nuevo por aquí? Regístrate!</a>
        <br>
        <a class="" href="#">Forgot password?</a>
    </form>

</div>

