
<div class="container-fluid">
            <table class="table table-hover" style="border-collapse: collapse;"  WIDTH="100%">
                <thead class="thead-dark">
                    <tr>
                        <th>OrdenPedido id</th>
                        <th> estado</th>
                        <th> comprador</th>
                        <th> vendedor</th>
                        <th> comic</th>
                        <th *ngIf="!ordenPedidoId.comic.enVenta"> trueque</th>
                <th *ngIf="ordenPedidoId.comic.enVenta"> precio</th>
                 <th> tarjetaCredito</th>
                        <th> numeroCompras</th>
                        <th> Comentario</th>
                        <th> cambiar estado</th>
                        <th> cambiar comentario</th>
                        </tr>
                    
                </thead>
                <tbody>
                    <tr >
                      <td >{{ordenPedidoId.id}}</td>
                        <td>{{ordenPedidoId.estado}}</td>
                        <td>
                           <a routerLink="/comprador/{{ordenPedidoId.comprador.id}}" class="card-link">{{ordenPedidoId.comprador.alias}}</a>
                            </td>
                        <td>
                           <a routerLink="/vendedores/{{ordenPedidoId.vendedor.id}}" class="card-link">{{ordenPedidoId.vendedor.nombre}}</a>
                           </td>
                        <td>
                           <a routerLink="/comic/{{ordenPedidoId.comic.id}}" class="card-link"> {{ordenPedidoId.comic.nombre}}</a>
                            </td>
                            <td *ngIf="!ordenPedidoId.comic.enVenta">
                                    <a routerLink="/comic/{{ordenPedidoId.trueque.id}}" class="card-link">{{ordenPedidoId.trueque.nombre}}</a>
                                   </td>
                                   <td *ngIf="ordenPedidoId.comic.enVenta">
                                       {{ordenPedidoId.comic.precio}}
                                     </td>
                        <td>{{ordenPedidoId.tarjetaCredito}}</td>
                        <td>{{ordenPedidoId.numeroCompras}}</td>
                        <td>{{ordenPedidoId.comentario}}</td>

                         <td><select [(ngModel)]="ordenPedidoId.estado">
                                <option value="ACEPTADO">ACEPTADO</option> 
                                <option value="RECHAZADO">RECHAZADO</option>
                                <option value="EN_ESPERA">EN_ESPERA</option>
                                <option value="ENVIADO">ENVIADO</option>
                                <option value="FINALIZADO">RECIBIDO</option>
                             </select></td>
                             <td scope="row">
                                    <input type="text" [(ngModel)]="ordenPedidoId.comentario">
                                </td>
                              
                                   
                    </tr>
                </tbody>
                
            </table>
            
        <div>
                <br>
        </div>
        <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" (click)="updateOrdenPedido()" >Actualizar</button>
            </div>
            <div>
                    <br>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-danger" (click)="deleteOrdenPedido()" >Eliminar</button>
                </div>
             