
    <div class="col-md-2">
        <table class="blueTable">
            <thead class="thead-dark">
                <tr>
                    <th>OrdenPedido id</th>
                    <th> estado</th>
                    <th> comprador</th>
                    <th> vendedor</th>
                    <th> comic</th>
                    <th> trueque</th>
                    <th> numeroCompras</th>
                    <th> fechaEstimadaEntrega</th>
                    <th> tarjetaCredito</th>
                    <th> comentario</th>
  
                </tr>
                
            </thead>
            <tbody>
                <tr >
                  <td >{{ordenPedidoId.id}}</td>
                    <td>{{ordenPedidoId.estado}}</td>
                    <td>{{ordenPedidoId.comprador.alias}}</td>
                    <td>{{ordenPedidoId.vendedor.alias}}</td>
                    <td>{{ordenPedidoId.comic.nombre}}</td>
                    <td>{{ordenPedidoId.trueque.nombre}}</td>
                    <td>{{ordenPedidoId.numeroCompras}}</td>
                    <td>{{ordenPedidoId.fechaEstimadaEntrega}}</td>
                    <td>{{ordenPedidoId.tarjetaCredito}}</td>
                    <td>{{ordenPedidoId.comentario}}</td>
                    
                     
                </tr>
               
            </tbody>
            
                
        </table>

               
        <div>
        <tr>
                <td><button class="btn btn-danger" (click)="deleteOrdenPedido()">Delete</button></td>
          </tr>
        </div>
    </div>
   
    