<div id="collapseAddCalificacion" [ngbCollapse]="isCollapsed">
    <div class="container-fluid">
        <h5 class="text-center">Agregar un comic</h5>
        <br>
        <select #newSelect [(ngModel)]="selected" class="form-control " id="myselect" (change)="selectedId=selected" >
                <option type="button" *ngFor="let comic of comics" value={{comic.id}}   >{{comic.nombre}}</option>
              </select>
            
           
    </div>
  
    <br>
    <br>
  
    <div class="text-center">
     
        <button type="button" class="btn btn-primary" (click)="addComic(selectedId)">Añadir</button>
       
    </div> 
    <br>
    <a routerLink="/comic/create">¿No encuentras tu comic? ¡Añádelo!</a>
    <router-outlet></router-outlet>
</div>