<p class="h3 p-3">{{vendedorDetail.nombre}}<p> 
<div class="container-fluid">
	<div class="col-md-6">
           <table class="table table">
			<thead class="thead">
				<tr>
					<th colspan="2"><img src={{vendedorDetail.foto}} class="img-fluid" alt="Responsive image" width="50" height="50"></th>
				</tr>
			</thead>
                        <tbody>
                            <tr>
                                <td>kek</td>
                            </tr>
                        </tbody>
           </table>
        </div>
</div>