.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    border: 2px solid #eeeef1;
  }
  .boton_personalizado:hover{
    color: #000608;
    background-color: #ffffff;
    border: 2px solid #00000a;

  }