<br>
<div class="row" style="text-align: center;">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <h1 style="display: inline-block;">
        Carrito de compras
    </h1>
    <div class="col-lg-7 col-md-2 col-sm-1 col-xs-1"></div>
    <button class=" btn btn-dark" routerLink = "/comprador/{{compradorId}}">Atras</button>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="table-responsive">
            <br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del comic</th>
                    <th scope="col">En venta</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Seleccione comic para trueque</th>
                    <th scope="col"> tarjeta de credito
                    </th>
                    <th scope="col">eliminar</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let comic of compradorComics; let i = index;">
                    <td>
                        <dd>{{i+1}}</dd>
                    </td>
                    <td>
                        <dd>{{comic.nombre}}</dd>
                    </td>
                    <td>
                        <dd>{{comic.enVenta}}</dd>
                    </td>
                    <td>
                        <li>Costo: {{comic.precio}}</li>
                        <li>Año de salida: {{comic.anioSalida}}</li>
                        <li>Autor: {{comic.autor}}</li>
                        <li>Vendedor: {{comic.vendedor.alias}}</li>

                    </td>

                    <td>
                        <select name="trueque" id="trueque" [(ngModel)]="seleccion" disabled={{comic.enVenta}}>
                            <option   *ngFor="let comic of vendedorComics; let i=index;"  value="{{i}}"   >{{comic.nombre}}</option>
                        </select>
                    </td>

                    <td scope="row" >
                        <input type="text" [(ngModel)]="tarjeta" >
                    </td>

                    <td><button class="btn btn-dark" (click)= "deleteComic(comic.id)">
                        <span class="fa fa-trash"></span>
                    </button></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
<br>
<div style="width: 330px; margin: 0 auto;">
    <button type="submit" class="btn btn-outline-dark" (click)=" createOrdenPedido()"  >comprar</button>
</div>