<!--<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th>Nombre</th>
                        <th>Avatar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comprador of compradores">
                        <td style="cursor: pointer;">
                            <dd class="figure-caption" routerLink="/comprador/{{comprador.id}}">{{comprador.id}}</dd>
                        </td>
                        <td>{{comprador.nombre}}</td>
                        <td><img src={{comprador.foto}} alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->
<div class="content-fluid">
    <div class="row">
        <div class="card text-center box" style="width: 18rem;"
             *ngFor="let comprador of compradores">
            <img class="card-img-top" src="{{comprador.foto}}" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">{{comprador.nombre}}</h2>
                <p class="card-text">{{comprador.intereses}}</p>
<!--                <ul class="">-->
<!--                    <li class="">{{comprador.correoElectronico}}</li>-->
<!--                    <li class="">{{comprador.alias}}</li>-->
<!--                </ul>-->
                <a routerLink="/comprador/{{comprador.id}}" class="card-link">Ver más...</a>
            </div>
        </div>
    </div>
</div>