<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th>Nombre</th>
                        <th>Avatar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comprador of compradores" (click)="onSelected(comprador.id)">
                        <td style="cursor: pointer;">{{comprador.id}}</td>
                        <td>{{comprador.nombre}}</td>
                        <td><img src={{comprador.foto}} alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <div *ngIf="selectedComprador">
                <app-comprador-detail [compradorDetail]="selectedComprador"></app-comprador-detail>
            </div>
        </div>
    </div>
</div>