/*.cartaCuerpo*/
/*{*/
/*    cursor: pointer;*/
/*    transition: 0.2s ease-in-out;*/
/*}*/

/*.cartaCuerpo:hover*/
/*{*/
/*    border-radius: 20px;*/
/*    background: black;*/
/*}*/

/*.cartaCuerpo:hover > a.card-link*/
/*{*/
/*    color:white;*/
/*}*/

/*a.card-link*/
/*{*/
/*    transition: 0.2s ease-in-out;*/
/*}*/

.row .box
{
    position: relative;
    border-radius: 0;
    margin-left: 30px;
    margin-top: 30px;
    /*border: 1px solid #000;*/
}

.row .box:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #000;
    z-index: -1;
    transition: .5s;
}

.row .box:nth-child(n):hover:before
{
    transform: skew(2deg, 2deg);
}

.row .box:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .05);
    pointer-events: none;
}

.box a
{
    position: relative;
    /*margin: 20px 0 0;*/
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    transform: translateX(35%);
}

.box:hover a
{
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.box a:hover
{
    background: #000;
    color: #fff;
}
